In [1]:
# 사용할 모듈 불러오기 
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import re

In [2]:
# 패키지 임포트
import os 
import numpy as np 
import pandas as pd
from pandas import to_datetime
from matplotlib import pyplot as plt
import seaborn as sns
import itertools
import warnings
import datetime
from datetime import datetime
warnings.filterwarnings('ignore')

%matplotlib inline

# ARIMA 모델 패키지
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.api import ExponentialSmoothing, SimpleExpSmoothing, Holt
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn import linear_model

# Auto Arima 모델 패키지
# pip install --user pmdarima
import pmdarima as pm
from pmdarima.model_selection import train_test_split

In [3]:
# 데이터 불러오기
items = pd.read_csv("./data/items.csv")
shops = pd.read_csv("./data/shops.csv")
train = pd.read_csv("./data/sales_train.csv")
test = pd.read_csv("./data/test.csv")
item_categories = pd.read_csv('./data/item_categories.csv')

In [4]:
# date 를 datetime 형으로 변환 
train["date"] = pd.to_datetime(train["date"], format="%d.%m.%Y") 
train["date"]

0         2013-01-02
1         2013-01-03
2         2013-01-05
3         2013-01-06
4         2013-01-15
             ...
2935844   2015-10-10
2935845   2015-10-09
2935846   2015-10-14
2935847   2015-10-22
2935848   2015-10-03
Name: date, Length: 2935849, dtype: datetime64[ns]

In [7]:
train[['date','item_cnt_day']]

              date  item_cnt_day
0       2013-01-02           1.0
1       2013-01-03           1.0
2       2013-01-05          -1.0
3       2013-01-06           1.0
4       2013-01-15           1.0
...            ...           ...
2935844 2015-10-10           1.0
2935845 2015-10-09           1.0
2935846 2015-10-14           1.0
2935847 2015-10-22           1.0
2935848 2015-10-03           1.0

[2935849 rows x 2 columns]

In [8]:
pivot_for_train = train.pivot_table(index = ['date'] , values=['item_cnt_day'],aggfunc='sum')
pivot_for_train

            item_cnt_day
date
2013-01-01        1951.0
2013-01-02        8198.0
2013-01-03        7422.0
2013-01-04        6617.0
2013-01-05        6346.0
...                  ...
2015-10-27        1551.0
2015-10-28        3593.0
2015-10-29        1589.0
2015-10-30        2274.0
2015-10-31        3104.0

[1034 rows x 1 columns]

In [10]:
pivot_for_train = pivot_for_train.reset_index()
pivot_for_train

           date  item_cnt_day
0    2013-01-01        1951.0
1    2013-01-02        8198.0
2    2013-01-03        7422.0
3    2013-01-04        6617.0
4    2013-01-05        6346.0
...         ...           ...
1029 2015-10-27        1551.0
1030 2015-10-28        3593.0
1031 2015-10-29        1589.0
1032 2015-10-30        2274.0
1033 2015-10-31        3104.0

[1034 rows x 2 columns]

In [17]:
# train 데이터와 validation 데이터 나누기.
X_train = pivot_for_train[pivot_for_train['date'] < '2015-10-04']
X_valid = pivot_for_train[pivot_for_train['date'] >= '2015-09-27']

# 예측한 열만 필터링하기
nyc = X_train[['date', 'item_cnt_day']]
nyc_v = X_valid[['date', 'item_cnt_day']]

# 각 데이터의 사이즈 확인하기
print('X_train Shape', X_train.shape)
print('X_Valid Shape', X_valid.shape)

X_train Shape (1006, 2)
X_Valid Shape (35, 2)

In [18]:
# Date 를 dataframe의 인덱스로 만들어주기
nyc.set_index('date', inplace=True)
nyc_v.set_index('date', inplace=True)

In [19]:
# 4주간의 값을 예측할 것이므로 예측날짜들을 인덱스로 한 dataframe 만들기
index_4_weeks = pd.date_range(nyc.index[-1], freq='W', periods = 4, tz = None) 

# 확인해보기
index_4_weeks

DatetimeIndex(['2015-10-04', '2015-10-11', '2015-10-18', '2015-10-25'], dtype='datetime64[ns]', freq='W-SUN')

In [26]:
from statsmodels.tsa.arima.model import ARIMA
model = ARIMA(nyc, order=(1,1,2))
result = model.fit()

# 예측한 값들을 저장
fcast1 = result.forecast(4)[0]
fcast1 = pd.Series(fcast1, index=index_4_weeks)
fcast1 = fcast1.rename("Arima")

# 확인
fcast1

/opt/homebrew/lib/python3.9/site-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  self._init_dates(dates, freq)
/opt/homebrew/lib/python3.9/site-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  self._init_dates(dates, freq)
/opt/homebrew/lib/python3.9/site-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  self._init_dates(dates, freq)

2015-10-04    3846.853812
2015-10-11    3846.853812
2015-10-18    3846.853812
2015-10-25    3846.853812
Freq: W-SUN, Name: Arima, dtype: float64