In [41]:
# 사용할 모듈 불러오기 
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import re

In [42]:
# 데이터 불러오기
items = pd.read_csv("./data/items.csv")
shops = pd.read_csv("./data/shops.csv")
train = pd.read_csv("./data/sales_train.csv")
test = pd.read_csv("./data/test.csv")
item_categories = pd.read_csv('./data/item_categories.csv')

# EDA

## Train
###  columns 뜻
 - data  = 날짜
 - date_block_num  = 한달 단위로 구분하기 편하게 하기 위한 데이터
 - shop_id = 가게 id
 - item_price = 아이템 가격
 - item_cnt_day = 당일 해당 아이템이 팔린 개수

In [ ]:
train.info() # null 값이 모든데이터에 존재 하지 않는다.

In [ ]:
#  date의 자료형을 object  -> dattime 으로 바꾸고 싶다. 
# 변환하는 과정  ->
train["date"] = pd.to_datetime(train["date"], format="%d.%m.%Y")
train["date"]. head(3)

In [ ]:
train.describe(include = 'all')

2013-01-01 00:00:00 ~ 2015-10-31 00:00:00  까지의 1034일간의 데이터임을 알수있다.  
item_price은 평균과 중위값의 차이가 심한 것으로 보아 이상치가 존재함을 알 수 있디.  
item_cnt_day 는일,이,삼 분위수가 1인데 비해 평균은 대략 1.2  최대값은 2168로 이상치가 존재한다.   
item_cnt_day, item_price에 최소값들은 음수이다.

In [ ]:
def price_cntday_boxplot():
    plt.figure(figsize = (20,10))
    # item_price 의 박스플롯
    plt.subplot(1,2,1)
    sns.boxplot(x = 'date_block_num' , y= 'item_price',data =train)
    plt.title('item_price')
    plt.grid()
    # item_cnt_day의 박스 플롯
    plt.subplot(1,2,2)
    sns.boxplot(x = 'date_block_num' , y= 'item_cnt_day',data =train)
    plt.title('item_cnt_day')
    plt.grid()
price_cntday_boxplot()

- 다음은 date_block_num 별로 item_price의 boxplot이다.  
- 위의 그래프를 기준으로 item_price는 50000 이상 , item_cnt_day 는 1000 이상을 이상치로서 train에서 제거한다.  
- 또한 판매되는 수량을 구하는 것이 목적이므로 0미만의 값을 제거한다.

In [ ]:
condition_for_drop = ((train["item_price"] >= 50000) | (train["item_price"] < 0))
train.drop(train[condition_for_drop].index, axis = 0 , inplace=True)

condition_for_drop = ((train["item_cnt_day"] >= 1000) | (train["item_cnt_day"] < 0))
train.drop(train[condition_for_drop].index, axis = 0 , inplace=True)

In [ ]:
# 제거 후의 boxplot
price_cntday_boxplot()

In [ ]:
train.corr()

## shops

In [ ]:
shops.info() # 결측값은 없고 데이터 타입이 적당함을 알수있다.

In [ ]:
shops.head(20)

- 이름에 특수문자가 들어가고 중복되는 이름들이 보인다

In [ ]:
def clean_text(inputString):
    text_rmv = re.sub('[-=+,#/\?:^.@*\"※~ㆍ!』‘|\(\)\[\]`\'…》\”\“\’·]', ' ', inputString)
    return text_rmv
shops_names = shops["shop_name"].apply(clean_text)
shops_id = shops["shop_id"]
# 중복되는 이름 확인 
for i in list(zip(shops_names ,shops_id)):
    for j in list(zip(shops_names ,shops_id)):
        if (re.match('.*'+i[0]+'*.',j[0])) and (i[1]!= j[1]):
            print('code : ', i[1], ' and  ', j[1])
            print('name : ', i[0], ' and  ', j[0])

- 위와 같이 shop id가 10:11, 39:40, 57:0, 58:1 4개의 아이디가 중복되는 것을 알 수 있다.
- 위의 데이터를 기준으로 train data의 shop id를 바꾸어준다

In [ ]:
train["shop_id"] = train["shop_id"].replace({0: 57, 1: 58, 11: 10, 40: 39})

## items

In [ ]:
items.info() # 결측값은 없고 데이터 타입이 적당함을 알수있다.

In [ ]:
items.head(20) # 이름에 특수 문자 제거 후 비슷한 게임끼리

In [ ]:
plt.figure(figsize=(20,10))
sns.countplot(x= 'item_category_id' , data = items)
plt.xticks(size = 15 , rotation =  45 , color = 'black')
plt.show()

In [ ]:
item_categories[item_categories['item_category_id']==40]

- item_category_id =40 인  Кино - DVD 카테고리에 많은 아이템이 존재하는지 알 수 있다

## item_category

In [ ]:
item_categories.info()  # 결측값은 없고 데이터 타입이 적당함을 알수있다.

In [ ]:
item_categories.head(20)

- item_category_name에 같은 단어가 들어가는 데이터가 많이 존재한다
- 이를 묶어 더 큰 범주를 만들 수 있다.

## test

In [ ]:
test.info()  # 결측값은 없고 데이터 타입이 적당함을 알수있다.

In [ ]:
# test의 shop_id , item_id 기 train 데이터에 있는지 확인
diff_test_train_shopid = set(test['shop_id']) - set(train['shop_id'])
print('diffrent shop_id nums: ',len(diff_test_train_shopid))
diff_test_train_itemid = set(test['item_id']) - set(train['item_id'])
print('diffrent item_id nums: ',len(diff_test_train_itemid))
diff_test_items_itemid = set(test['item_id']) - set(items['item_id'])
print('diff_test_items_itemid nums: ',len(diff_test_items_itemid))

#### test에는 존재하지만 train에 존재하지 않는 값이 363개 존재한다. 
#### items에는 test에 있는 모든 item_id를 가지고 있다. 
#### 이를 해결하기위해 다음과 같은 방법을 사용한다
 - train에 존재하지 않는 test값을 예측하기 위해 item_category_id를 사용한다.

item_category의 앞부분만 자르고 새롭게 만든 열을 라벨인코딩 (악세사리 >> 1)   
item_id와 연결되어있는 item_category를 새롭게 만든 열로 연결하여 test값을 예측한다면?

In [ ]:
# item_category 분류하여 새로운 열 만들기
high_categories = item_categories.item_category_name

In [ ]:
'''
Игры Android 등 '-' 뿐만 아니라 ' ' 기준으로 나누어져야 합니다. 
'''

high_categories.str.split('-').str[0].unique()

In [60]:
high_categories

['PC',
 'Аксессуары',
 'Аксессуары',
 'Аксессуары',
 'Аксессуары',
 'Аксессуары',
 'Аксессуары',
 'Аксессуары',
 'Билеты',
 'Доставка',
 'Игровые',
 'Игровые',
 'Игровые',
 'Игровые',
 'Игровые',
 'Игровые',
 'Игровые',
 'Игровые',
 'Игры',
 'Игры',
 'Игры',
 'Игры',
 'Игры',
 'Игры',
 'Игры',
 'Игры',
 'Игры',
 'Игры',
 'Игры',
 'Игры',
 'Игры',
 'Игры',
 'Карты',
 'Карты',
 'Карты',
 'Карты',
 'Карты',
 'Кино',
 'Кино',
 'Кино',
 'Кино',
 'Кино',
 'Книги',
 'Книги',
 'Книги',
 'Книги',
 'Книги',
 'Книги',
 'Книги',
 'Книги',
 'Книги',
 'Книги',
 'Книги',
 'Книги',
 'Книги',
 'Музыка',
 'Музыка',
 'Музыка',
 'Музыка',
 'Музыка',
 'Музыка',
 'Подарки',
 'Подарки',
 'Подарки',
 'Подарки',
 'Подарки',
 'Подарки',
 'Подарки',
 'Подарки',
 'Подарки',
 'Подарки',
 'Подарки',
 'Подарки',
 'Программы',
 'Программы',
 'Программы',
 'Программы',
 'Программы',
 'Программы',
 'Служебные',
 'Служебные',
 'Чистые',
 'Чистые',
 'Элементы']

In [ ]:
'''
위에서 만든 특수문자 제거 함수 사용
'''
high_categories = high_categories.apply(clean_text)
high_categories

In [ ]:
'''
공백으로 문자 분리하기
'''
high_categories = high_categories.str.split(' ')
high_categories

In [ ]:
'''
앞에 문자만 분리해서 저장
'''
high_categories = [high_categories[i][0] for i in range(len(high_categories))]
a=list(set(high_categories))
print(a)

#['청소', '게임', '전지', '도서', '음악', '티켓', '카드', 'PC', '선물', '배달', '유틸리티', '액세서리', ' 게임', '영화', '프로그램']

In [ ]:
item_high_categories = item_categories.copy()
item_high_categories['high_categories'] = high_categories

In [ ]:
'''
완성 이것을 라벨 인코딩하면 될 것 같습니다. 
'''
item_high_categories

In [43]:
from sklearn.preprocessing import LabelEncoder

In [44]:
label_items = item_high_categories["high_categories"][:]
label_item_cat_name = item_high_categories["item_category_name"][:]
list(set(label_items))

['Подарки',
 'Аксессуары',
 'Служебные',
 'Чистые',
 'Доставка',
 'Билеты',
 'PC',
 'Кино',
 'Элементы',
 'Игры',
 'Карты',
 'Книги',
 'Музыка',
 'Игровые',
 'Программы']

In [45]:
from sklearn.preprocessing import OneHotEncoder
# 모든 문자를 숫자형으로 변환

encoder = LabelEncoder()
encoder.fit(label_items)
labels = encoder.transform(label_items)
print(labels)
print('\n')
labels2 = labels.reshape(1,-1)
print(labels2)
print('\n')

# One-Hot Encoding
oh_encoder = OneHotEncoder()
oh_encoder.fit(labels2)
oh_labels = oh_encoder.transform(labels2)
print(oh_labels.toarray())
print('\n')
print(oh_labels.shape)

[ 0  1  1  1  1  1  1  1  2  3  4  4  4  4  4  4  4  4  5  5  5  5  5  5
  5  5  5  5  5  5  5  5  6  6  6  6  6  7  7  7  7  7  8  8  8  8  8  8
  8  8  8  8  8  8  8  9  9  9  9  9  9 10 10 10 10 10 10 10 10 10 10 10
 10 11 11 11 11 11 11 12 12 13 13 14]


[[ 0  1  1  1  1  1  1  1  2  3  4  4  4  4  4  4  4  4  5  5  5  5  5  5
   5  5  5  5  5  5  5  5  6  6  6  6  6  7  7  7  7  7  8  8  8  8  8  8
   8  8  8  8  8  8  8  9  9  9  9  9  9 10 10 10 10 10 10 10 10 10 10 10
  10 11 11 11 11 11 11 12 12 13 13 14]]


[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
  1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
  1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
  1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]


(1, 84)

In [46]:
# train > item_id, categori_id, high_categori_id, city_id

In [47]:
# train > date_block_num, date
# date_num, date, shop_id, item_id + category, city >>> shops, items file에서

In [48]:
shops

                                          shop_name  shop_id
0                     !Якутск Орджоникидзе, 56 фран        0
1                     !Якутск ТЦ "Центральный" фран        1
2                                  Адыгея ТЦ "Мега"        2
3                    Балашиха ТРК "Октябрь-Киномир"        3
4                          Волжский ТЦ "Волга Молл"        4
5                            Вологда ТРЦ "Мармелад"        5
6                        Воронеж (Плехановская, 13)        6
7                            Воронеж ТРЦ "Максимир"        7
8                      Воронеж ТРЦ Сити-Парк "Град"        8
9                                 Выездная Торговля        9
10                       Жуковский ул. Чкалова 39м?       10
11                       Жуковский ул. Чкалова 39м²       11
12                              Интернет-магазин ЧС       12
13                              Казань ТЦ "Бехетле"       13
14                          Казань ТЦ "ПаркХаус" II       14
15                             Калуга ТРЦ "XXI век"       15
16                                 Коломна ТЦ "Рио"       16
17                    Красноярск ТЦ "Взлетка Плаза"       17
18                             Красноярск ТЦ "Июнь"       18
19                            Курск ТЦ "Пушкинский"       19
20                              Москва "Распродажа"       20
21                           Москва МТРЦ "Афи Молл"       21
22                               Москва Магазин С21       22
23                 Москва ТК "Буденовский" (пав.А2)       23
24                 Москва ТК "Буденовский" (пав.К7)       24
25                              Москва ТРК "Атриум"       25
26                      Москва ТЦ "Ареал" (Беляево)       26
27                   Москва ТЦ "МЕГА Белая Дача II"       27
28                  Москва ТЦ "МЕГА Теплый Стан" II       28
29               Москва ТЦ "Новый век" (Новокосино)       29
30                           Москва ТЦ "Перловский"       30
31                          Москва ТЦ "Семеновский"       31
32                       Москва ТЦ "Серебряный Дом"       32
33                                Мытищи ТРК "XL-3"       33
34                             Н.Новгород ТРЦ "РИО"       34
35                      Н.Новгород ТРЦ "Фантастика"       35
36            Новосибирск ТРЦ "Галерея Новосибирск"       36
37                            Новосибирск ТЦ "Мега"       37
38                                   Омск ТЦ "Мега"       38
39            РостовНаДону ТРК "Мегацентр Горизонт"       39
40  РостовНаДону ТРК "Мегацентр Горизонт" Островной       40
41                           РостовНаДону ТЦ "Мега"       41
42                           СПб ТК "Невский Центр"       42
43                                  СПб ТК "Сенная"       43
44                              Самара ТЦ "Мелодия"       44
45                             Самара ТЦ "ПаркХаус"       45
46                            Сергиев Посад ТЦ "7Я"       46
47                           Сургут ТРЦ "Сити Молл"       47
48                     Томск ТРЦ "Изумрудный Город"       48
49                            Тюмень ТРЦ "Кристалл"       49
50                               Тюмень ТЦ "Гудвин"       50
51                        Тюмень ТЦ "Зеленый Берег"       51
52                             Уфа ТК "Центральный"       52
53                                 Уфа ТЦ "Семья" 2       53
54                                  Химки ТЦ "Мега"       54
55                         Цифровой склад 1С-Онлайн       55
56                             Чехов ТРЦ "Карнавал"       56
57                          Якутск Орджоникидзе, 56       57
58                          Якутск ТЦ "Центральный"       58
59                           Ярославль ТЦ "Альтаир"       59

In [49]:
items

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40
...,...,...,...
22165,"Ядерный титбит 2 [PC, Цифровая версия]",22165,31
22166,Язык запросов 1С:Предприятия [Цифровая версия],22166,54
22167,Язык запросов 1С:Предприятия 8 (+CD). Хрустале...,22167,49
22168,Яйцо для Little Inu,22168,62
22169,Яйцо дракона (Игра престолов),22169,69

In [50]:
sh_it = pd.merge(shops, items, left_on='shop_name', right_on='item_name',
                how='right')
sh_it.fillna(0)

,shop_name,shop_id,item_name,item_id,item_category_id
0,0,0.0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,0,0.0,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,0,0.0,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,0,0.0,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,0,0.0,***КОРОБКА (СТЕКЛО) D,4,40
...,...,...,...,...,...
22165,0,0.0,"Ядерный титбит 2 [PC, Цифровая версия]",22165,31
22166,0,0.0,Язык запросов 1С:Предприятия [Цифровая версия],22166,54
22167,0,0.0,Язык запросов 1С:Предприятия 8 (+CD). Хрустале...,22167,49
22168,0,0.0,Яйцо для Little Inu,22168,62
22169,0,0.0,Яйцо дракона (Игра престолов),22169,69

In [51]:
sh_it2 = pd.concat([shops,items])

In [66]:
# train,city, high_category 

def make_high_category(categories_series):
    cat = categories_series
    cat = cat.apply(clean_text)
    cat = cat.str.split(' ')
    cat = [data[1] if data[0] == '' else data[0] for data in cat]
    high_cat_le = LabelEncoder()
    high_cat_le.fit(cat)
    cat_id = high_cat_le.transform(cat)
    return cat , cat_id, high_cat_le

shops['city'], shops['city_id'], shops_le = make_high_category(shops['shop_name'])
shops_train = pd.merge(shops, train)
shops_train

,shop_name,shop_id,city,city_id,date,date_block_num,item_id,item_price,item_cnt_day
0,"!Якутск Орджоникидзе, 56 фран",0,Якутск,29,12.01.2013,0,11059,73.0,1.0
1,"!Якутск Орджоникидзе, 56 фран",0,Якутск,29,22.01.2013,0,11059,73.0,1.0
2,"!Якутск Орджоникидзе, 56 фран",0,Якутск,29,26.01.2013,0,11059,73.0,1.0
3,"!Якутск Орджоникидзе, 56 фран",0,Якутск,29,12.01.2013,0,11347,170.0,1.0
4,"!Якутск Орджоникидзе, 56 фран",0,Якутск,29,22.01.2013,0,11347,170.0,1.0
...,...,...,...,...,...,...,...,...,...
2935844,"Ярославль ТЦ ""Альтаир""",59,Ярославль,30,10.10.2015,33,4962,298.0,1.0
2935845,"Ярославль ТЦ ""Альтаир""",59,Ярославль,30,04.10.2015,33,4706,299.0,1.0
2935846,"Ярославль ТЦ ""Альтаир""",59,Ярославль,30,11.10.2015,33,5002,2999.0,1.0
2935847,"Ярославль ТЦ ""Альтаир""",59,Ярославль,30,15.10.2015,33,5233,1199.0,1.0
2935848,"Ярославль ТЦ ""Альтаир""",59,Ярославль,30,21.10.2015,33,5039,1499.0,1.0

In [69]:
pd.concat([shops_train,item_high_categories], axis = 1)

,shop_name,shop_id,city,city_id,date,date_block_num,item_id,item_price,item_cnt_day,item_category_name,item_category_id,high_categories
0,"!Якутск Орджоникидзе, 56 фран",0,Якутск,29,12.01.2013,0,11059,73.0,1.0,PC - Гарнитуры/Наушники,0.0,PC
1,"!Якутск Орджоникидзе, 56 фран",0,Якутск,29,22.01.2013,0,11059,73.0,1.0,Аксессуары - PS2,1.0,Аксессуары
2,"!Якутск Орджоникидзе, 56 фран",0,Якутск,29,26.01.2013,0,11059,73.0,1.0,Аксессуары - PS3,2.0,Аксессуары
3,"!Якутск Орджоникидзе, 56 фран",0,Якутск,29,12.01.2013,0,11347,170.0,1.0,Аксессуары - PS4,3.0,Аксессуары
4,"!Якутск Орджоникидзе, 56 фран",0,Якутск,29,22.01.2013,0,11347,170.0,1.0,Аксессуары - PSP,4.0,Аксессуары
...,...,...,...,...,...,...,...,...,...,...,...,...
2935844,"Ярославль ТЦ ""Альтаир""",59,Ярославль,30,10.10.2015,33,4962,298.0,1.0,NaN,NaN,NaN
2935845,"Ярославль ТЦ ""Альтаир""",59,Ярославль,30,04.10.2015,33,4706,299.0,1.0,NaN,NaN,NaN
2935846,"Ярославль ТЦ ""Альтаир""",59,Ярославль,30,11.10.2015,33,5002,2999.0,1.0,NaN,NaN,NaN
2935847,"Ярославль ТЦ ""Альтаир""",59,Ярославль,30,15.10.2015,33,5233,1199.0,1.0,NaN,NaN,NaN
2935848,"Ярославль ТЦ ""Альтаир""",59,Ярославль,30,21.10.2015,33,5039,1499.0,1.0,NaN,NaN,NaN

In [75]:
test_train = pd.merge(test, train)
test_train

,ID,shop_id,item_id,date,date_block_num,item_price,item_cnt_day
0,0,5,5037,21.09.2014,20,2599.0,1.0
1,0,5,5037,29.11.2014,22,2599.0,1.0
2,0,5,5037,28.12.2014,23,1999.0,1.0
3,0,5,5037,20.12.2014,23,1999.0,1.0
4,0,5,5037,02.01.2015,24,1999.0,1.0
...,...,...,...,...,...,...,...
1224434,214197,45,15757,22.02.2015,25,199.0,1.0
1224435,214199,45,969,22.06.2014,17,549.0,1.0
1224436,214199,45,969,28.06.2014,17,549.0,2.0
1224437,214199,45,969,11.07.2014,18,549.0,1.0
1224438,214199,45,969,09.08.2014,19,549.0,1.0

In [79]:
test_train.sort_value(by='date_block_num')

AttributeError: 'DataFrame' object has no attribute 'sort_value'